<app-admin></app-admin>
<div class="tab-pane fade show active" id="restaurantItems" role="tabpanel" aria-labelledby="restaurantItems-tab">
  
  <!-- <div class="card-body">
    <a class="card-text" routerLink="/restaurantItems">
      view restaurant items
    </a>
  </div> -->
  <!-- <div class="card-body text-center">
    Click here to see the list of restaurants added: <button class="btn btn-outline-dark" type="button" (click)="viewRestaurantItems()">View</button>
  </div> -->
  
  <div class="card-body">
      <h5 class="card-title text-center text-success">
        Update Restaurant Item
      </h5>
      <div class="card-text">

        <form [formGroup]="restaurantItemForm">
          <div class="form-group">
            <label for="restaurantItemName" class="form-label">RestaurantItem Name</label>
            <input id="restaurantItemName" type="text" formControlName="restaurantItemName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['restaurantItemName'].errors }">
            <div *ngIf="submitted && f['restaurantItemName'].errors" class="invalid-feedback">
              <div *ngIf="f['restaurantItemName'].errors['required']">RestaurantItem Name is required</div>
              <div *ngIf="f['restaurantItemName'].errors['minlength']">
                RestaurantName must be at least 6 characters
              </div>
              <div *ngIf="f['restaurantItemName'].errors['maxlength']">
                RestaurantName must not exceed 25 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="imageLocation" class="form-label">Image Location(Select file from ../assets/Images/*)</label>
            <input id="imageLocation" type="file" accept="image/*"  formControlName="imageLocation" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['imageLocation'].errors }"
              (change)="onFileUpload($event)">
            <div *ngIf="submitted && f['imageLocation'].errors" class="invalid-feedback">
              <div *ngIf="f['imageLocation'].errors['required']">JPG Image is required</div>
            </div>
            <img [src]="imgURL" height="50" *ngIf="imgURL"/>
          </div>

          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input id="description" type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">Description is required</div>
              <div *ngIf="f['description'].errors['minlength']">
                Description must be at least 6 characters
              </div>
              <div *ngIf="f['description'].errors['maxlength']">
                Description must not exceed 50 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input id="price" type="number" formControlName="price" (keypress)="keyPress($event)" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
            <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
              <div *ngIf="f['price'].errors['required']">Price is required</div>
              <div
              *ngIf="f['price'].errors['pattern'] || f['price'].errors['minlength'] || f['price'].errors['maxlength']">
              Price must be a numbers</div>
            </div>
          </div>

          <div class="text-center">
            <label class="form-label"></label>
            <button type="submit" class="btn btn-outline-dark" (click)="updateRestaurantItem(restaurantItem.restaurantItemId)">Update Item</button>
          </div>

        </form>
      </div>
    </div>
  </div>