<app-admin></app-admin>
<div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card-group">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center">
          <h5 class="card-title text-success">Admin Details</h5>
          <div *ngIf="user">
            <div class="card-text">
              <label><b>First Name: </b></label> {{user.firstName}}
            </div>
            <div class="card-text">
              <label><b>Last Name: </b></label> {{user.lastName}}
            </div>
            <div class="card-text">
              <label><b>Email Id: </b></label> {{user.emailId}}
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center">
          <h5 class="card-title text-success">Users Created</h5>
          <div class="card-text">
            <label><b>Total Created: </b></label> {{countUsers}}
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center">
          <h5 class="card-title text-success">Delivery Created</h5>
          <div class="card-text">
            <label><b>Total Created: </b></label> {{countDelivery}}
          </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center">
          <h5 class="card-title text-success">Restaurants Created</h5>
          <div class="card-text">
            <label><b>Total Created: </b></label> {{countRestaurants}}
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center">
          <h5 class="card-title text-success">Restaurants Items Created</h5>
          <div class="card-text">
            <label><b>Total Created: </b></label> {{countRestaurantItems}}
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title text-success">Recent Sales</h5>
        </div>
      </div>
    </div>
  </div>